#about{
    padding-top: 50px;
}
.abaut-us h1{
    padding-top: 30px;
    font-family: playfair display,serif;
    font-style: italic;
    text-align: center;
}
.abaut-us p{
    margin-top: 10px;
    padding: 0px 50px;
    /* text-align: center; */
    line-height: 34px;
    font-size: 20px;
}