.dishes {
  clear: both;
  /* padding: 1em 0; */
  text-align: center;
  margin-bottom: 50px;
}

.mySlides{
  /* height: 100%; */
  width: 95%;
}

.dishes h1 {
  font-family: playfair display, serif;
  font-style: italic;
}

.dishes p {
  text-transform: uppercase;
  color: rgb(184, 180, 180);
}

.slideshow-container {
  margin: auto;
  width: 96%;
  height: 100%;
  padding: 20px 10px 0 10px;
}

.slideshow-container img {
  border-radius: 50%;
  width: 35%;
  height: 25vw;
}

/* Caption text */
.text {
  color: rgb(61, 114, 114);
  font-size: 22px;
  padding: 18px 12px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.curousel-dot .active {
  background-color: rgb(61, 114, 114);
}

/* Fading animation */
.fade1 {
  transition-duration: 10s;
  transition-delay: 10s;
  animation: rotation 2s ease-in-out;
}

.fade2 {
  transition-duration: 10s;
  transition-delay: 10s;
  animation: rotation2 2s ease-in-out;
}

.fade3 {
  transition-duration: 10s;
  transition-delay: 10s;
  animation: rotation3 2s ease-in-out;
}
.fade4 {
  transition-duration: 10s;
  transition-delay: 10s;
  animation: rotation4 2s ease-in-out;
}

@keyframes rotation {
  0% {
    transform: translate(-300px, -100px) rotateX(0deg)
  }

  30%,
  70% {
    transform: translate(0px, 0px) rotateX(0deg)
  }

  100% {
    transform: translate(-300px, -100px) rotateX(90deg)
  }
}

@keyframes rotation2 {
  0% {
    transform: translate(300px, -100px) rotateX(90deg)
  }

  30%,
  70% {
    transform: translate(0px, 0px) rotateX(0deg)
  }

  100% {
    transform: translate(300px, -100px) rotateX(90deg)
  }
}

@keyframes rotation3 {
  0% {
    transform: translate(-300px, 0px) rotateX(0deg)
  }

  30%,
  70% {
    transform: translate(0px, 0px) rotateX(0deg)
  }

  100% {
    transform: translate(300px, 0px) rotateX(90deg)
  }
}
@keyframes rotation4 {
  0% {
    transform: translate(0px, -100px) rotateX(0deg)
  }

  30%,
  70% {
    transform: translate(0px, 0px) rotateX(0deg)
  }

  100% {
    transform: translate(0px, 100px) rotateX(90deg)
  }
} 