.footer{
      width: 100%;
  }

.footer-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(4, 1, 51);
    color: rgb(199, 198, 198);
    padding: 80px;
}

.footer .opening-hours p span{
    color: #7fb401;
    font-size: 22px;
    padding-right: 5px;
}

.footer-address ul li a {
    color: rgb(199, 198, 198);
    text-decoration: none;
}

.footer-address ul li {
    padding: 10px;
    display: block;
    text-decoration: none;
}

.footer-address ul li a .fas{
    color: #7fb401 !important;
    padding-right: 10px;
  }

.follow-us ul li {
    display: inline-block;
    padding: 20px;
    font-size: 26px;  
}

.follow-us ul li a .fab{
    color: #7fb401 !important;
}

.footer-logo {
    position: relative;
    background-color: rgb(10, 10, 10);
    text-align: center;
    margin-top: -20px;
    padding: 30px;
    color: rgb(138, 136, 136);
}

