.footer-container{
    background-color:  rgb(4, 1, 51);
    color: rgb(199, 198, 198);
    overflow: hidden;
    padding: 30px 80px;
    margin: 0;
    text-align: center;
}

.footer .opening-hours p span{
    color: #7fb401;
    font-size: 22px;
}

.footer-address ul li a {
    padding-left: -40px;
    color: rgb(199, 198, 198);
    text-decoration: none;
   
}

.footer-address ul li {
    padding: 10px;
    display: block;
    text-decoration: none;
}

.footer-address ul li a .fas{
    color: #7fb401 !important;
    padding-right: 10px;
    margin-left: -50px;
}

.follow-us ul li {
    display: inline-block;
    padding: 10px;
    font-size: 26px;  
}

.follow-us ul li a .fab{
    color: #7fb401 !important;
}

.footer-logo {
    position: relative;
    background-color: rgb(41, 39, 39);
    text-align: center;
    margin-top: -20px;
    padding: 30px;
    color: rgb(138, 136, 136);
}

@media only screen and (min-width: 600px){
    .follow-us{
        width: 30%;
       float: left;
    }

    .opening-hours{
        width: 30%;
        float: left;
        padding-right: 30px;
    }

    .footer-address {
        width: 30%;
        overflow: hidden;
       float: left;   
    }
}
