.homepage-topimage{
    background-image: url('../images/home1.jpeg');
    width: 100vw;
    height: 100vh;
    margin:auto;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;  
}

.homepage-topimage h1
{
    color: rgb(49, 49, 49);
    font-family: playfair display,serif;
    font-size: 60px!important;
    font-weight: 700;
    font-style: italic;
    padding: 100px;
}
