body{
    margin: 0;
      padding: 0;
  }
.allfoods-menu{
    position: relative;
    width: 100%;
    height: 60vh;
    /* margin: auto; */
    background-image: url("../images/menu4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
    
    
     
} 
.allfoods-menu-container{
    position: absolute;
    background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.3);
  
  width: 100%;
  height: 100%;
  background-position: center;
  /* margin: auto; */
}

#menu-heading {
    margin-top: 40px;
    text-align: center;
    align-items: center;
    font-family: playfair display, serif;
    font-style: italic;
    padding: 40px;    
}

.food-menu-category {
    width: 92%;
    padding:  30px ;
    text-align: center;
    text-transform: uppercase;
}

.menuList{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    font-family: playfair display, serif ;
}

.menuList:focus {
    outline:0;
    color: white;
}

.breakfast:focus{
    background: orange;
}

.lunch:focus{
    background: rgb(11, 155, 199);
}

.dinner:focus{
    background: navy;
}

.menu-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform:perspective(800px);
    background: rgb(230, 228, 228);
}

.book{
    transform-style: preserve-3d;
    position: relative;
    height: 75vh;
    cursor: pointer;
    backface-visibility: visible;
}

.front, .back {
    background: navy;

}

.page2{
    position: absolute;
}

.menu-list {
    width: 100%;
    height: 100%;
    /* overflow: visible; */
}
.menu-list ul li {
    display: block;
    padding-right: 10px;
    padding-left: 0px;
    text-align: center;
}

.menu-list ul li h3 {
    font-size: 1.2vmax;
}

.menu-list ul li h3 span {
    font-size: 1vmax;
    font-weight: normal;
}

.menu-list ul li p {
    font-size: 1vmax;
    font-weight: bold;

}

.front,.back, .page1, .page2{
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.page1, .page2{
    background: #efefef;
}

.front, .back, .page1, .page2{
    transform-style: preserve-3d;
    position: absolute;
    width: 32vw;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.book:hover .front{
    transform: rotateY(-160deg) scale(1,1);
    box-shadow: 0 1em 3em 0 rgba(0, 0,0, .2);
}

.book:hover .page1{
    transform: rotateY(-150deg) scale(1,1);
    box-shadow: 0 1em 3em 0 rgba(0, 0,0, .2);
}

.book:hover .page2{
    transform: rotateY(-30deg) scale(1,1);
    box-shadow: 0 1em 3em 0 rgba(0, 0,0, .2);
}

.book:hover .back{
    transform: rotateY(-20deg) scale(1,1);
}

.front h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    text-align: center;
    color: white;
    font-size: 5vmax;
}

.page1 .menu-list {
    transform: scale(-1, 1);
}

@media only screen and (max-width: 1280px){
    .front, .back, .page1, .page2{
        width: 40vw;
    }
    .menu-list ul li h3 {
        font-size: 1.5vmax;
    }
    
    .menu-list ul li h3 span {
        font-size: 1.2vmax;
        font-weight: normal;
    }
    
    .menu-list ul li p {
    
        font-size: 1.2vmax;
        font-weight: bold;
    
    }
    .front h1{
        font-size: 4vmax;
    }
}
#loadOverlay{display: none;}