@import url("home.css");
@import url("about.css");
@import url("services.css");
@import url("dishes.css");
@import url("menu.css");
@import url("event.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Gilda Display', serif;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: #ffffff; */
}

header {
    font-family: 'Gilda Display', serif;

}

.address {
    float: left;
    width: 30%;
    padding-left: 15%;
    margin: auto;
    align-content: center;
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 15px;
}

.address span {

    align-content: center;
    margin: auto;
    /* padding-left: 40px; */
}

.contact-list ul {
    display: flex;
    text-decoration: none;
    width: 20%;
    float: right;

}

.contact-list ul li {

    display: block;
    padding-right: 20px;

}

.restaurant-name {
    clear: both;
    text-align: center;
    padding-top: 10px;
    font-size: 56px;
    font-weight: bold;
    color: #ffb606;
}

.nav-bar {
    padding: 20px 20px;

    width: 100%;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(29, 29, 29);
    overflow: hidden;
    z-index: 2;
}

.logo {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 400px;
    color: white;
    float: left;
}


.menu-toggle {
    display: none;
    float: right;
    color: white;
    font-size: 30px;

}

.times {
    display: none;
    float: right;
    color: white;
    font-size: 30px
}

.menu-toggle:hover {
    cursor: pointer;
}

nav {
    padding: 0;
    margin: 0;
    /* position: fixed; */
}

nav ul {
    display: flex;
    float: right;

}

nav ul li {
    list-style: none;
    padding-right: 40px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav ul li a.active {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(148, 151, 151);
}

nav ul li a:hover {
    background-color: rgb(61, 114, 114);
    padding: 10px;
    border-radius: 10px;
    animation-delay: 10s;
}

.clearfix {
    clear: both;
}

.sticky {
    position: fixed;
    top: 0;
    /* padding: 10px 10px; */
    margin-right: 30px;
    width: 100%;

}






@media only screen and (max-width: 1050px) {
    .menu-toggle {
        display: block;

        margin: 10px;

    }

    .bars-hide {
        display: none;
        margin: 10px;
    }

    .times-show {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        display: block;
        width: 100%;
        background-color: rgb(68, 67, 67);
        padding: 20px 0;

    }

    nav ul li {
        padding: 10px 0;
        color: white;
        text-align: left;

    }

    nav ul li a {
        color: white;
    }
}